<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SubwayDPIM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>018EEE6223E922F000E61A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>018EEE7823E922F200E61A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>018EEE8323E922F200E61A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
